In [1]:
import sys, glob, os
SPARK_HOME=os.environ['SPARK_HOME']
sys.path.append(SPARK_HOME + "/python")
sys.path.append(glob.glob(SPARK_HOME + "/python/lib/py4j*.zip")[0])
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf 


cassandra_host = "localhost"

spark_conf = (SparkConf()
                .setAppName("BatchJob - Data loader")
                .setIfMissing("spark.master", "local")
                .set("spark.cassandra.connection.host", cassandra_host)
                .set("spark.cassandra.connection.port", 9042)
                .set("spark.sql.shuffle.partitions", 10)
                .set("", 10)
               )

# Create spark session
spark = (SparkSession
         .builder
         .config(conf = spark_conf)
         .getOrCreate()
        )
sc = spark.sparkContext
sql = spark.sql
print(sc.uiWebUrl)

http://10.0.2.15:4040

In [2]:
from pyspark.sql import Row
from pyspark.sql import functions as F

In [3]:
rdd = sc.parallelize([Row(a = 1, b = 4)])

In [4]:
df = spark.createDataFrame(rdd)
df.show()

+---+---+
|  a|  b|
+---+---+
|  1|  4|
+---+---+

In [5]:
r = df.rdd.collect()[0]

In [6]:
r.a

1

In [7]:
base_path = "file:///home/cloudera/notebooks/RandomDataGenerator-master/target/"

In [8]:
customers = spark.read.options(inferSchena = True).json(base_path + "customers.json")
customers.show()
customers.printSchema()
(customers
    .drop("address")
    .write
    .mode("overwrite")
    .format("org.apache.spark.sql.cassandra")
    .options(table = "customer", keyspace = "cc")
    .save())

+--------------------+---+----------+--------------------+----------+------+------------+--------------+
|             address|age|       dob|               email|first_name|gender|          id|     last_name|
+--------------------+---+----------+--------------------+----------+------+------------+--------------+
|[Brooklyn,Kings,L...| 19|1999-09-09| iforell@hotmail.com|    Ivania|     M|800000000000|        Forell|
|[Bronx,Bronx,LF00...| 63|1955-06-23|jodena.tetreau@ms...|    Jodena|     F|800000000001|       Tetreau|
|[Merrick,Nassau,L...| 73|1945-02-05|     sshoyko@msn.com|   Shawnic|     F|800000000002|        Shoyko|
|[New York,New Yor...| 67|1950-11-19|jerzei.berardo@gm...|    Jerzei|     F|800000000003|       Berardo|
|[Saratoga Springs...| 28|1990-06-05|einzinger@hotmail...|   Elinora|     M|800000000004|      Inzinger|
|[Rome,Oneida,LF00...| 34|1984-09-28|bschillinglaw@msn...|   Braylyn|     F|800000000005|  Schillinglaw|
|[New York,New Yor...| 61|1957-01-24| hsherwood@gmail.com|     Hagan|     M|800000000006|      Sherwood|
|[Armonk,Westchest...| 71|1947-10-16|kejon.giner@hotma...|     Kejon|     M|800000000007|         Giner|
|[New York,New Yor...| 31|1987-07-23|shyanne.leut@gmai...|   Shyanne|     M|800000000008|          Leut|
|[Rensselaer,Renss...| 45|1972-11-30|jeaninne.gollakis...|  Jeaninne|     F|800000000009|Gollakistagari|
|[Suffern,Rockland...| 62|1956-01-21|akupferschmid@gma...|    Audrii|     M|800000000010|  Kupferschmid|
|[Hicksville,Nassa...| 39|1979-03-27|   ischbel@gmail.com|     Illya|     F|800000000011|       Schöbel|
|[Westbury,Nassau,...| 45|1973-07-14| mboehne@hotmail.com|    Matten|     M|800000000012|        Boehne|
|[Sea Cliff,Nassau...| 64|1954-03-09|ariadny.dutoit@ms...|   Ariadny|     M|800000000013|       Du toit|
|[Webster,Monroe,L...| 32|1986-02-28|echhatralia@hotma...|Elizabethe|     F|800000000014|    Chhatralia|
|[Ft. Drum,Jeffers...| 70|1947-12-30|mmichael.dchting@...|  Mmichael|     M|800000000015|      Düchting|
|[Jamaica,Queens,L...| 35|1983-07-04|juley.leugemors@m...|     Juley|     M|800000000016|     Leugemors|
|[New York,New Yor...| 18|2000-07-18|lavontae.kruschel...|  Lavontae|     M|800000000017|      Kruschel|
|[Forest Hills,Que...| 62|1956-07-23|    jjinchul@msn.com|       Jio|     M|800000000018|      Jin chul|
|[Bronx,Bronx,LF00...| 74|1943-11-27|    cdelalex@msn.com|       Car|     F|800000000019|       Delalex|
+--------------------+---+----------+--------------------+----------+------+------------+--------------+
only showing top 20 rows

root
 |-- address: struct (nullable = true)
 |    |-- city: string (nullable = true)
 |    |-- county: string (nullable = true)
 |    |-- id: string (nullable = true)
 |    |-- postal_code: double (nullable = true)
 |    |-- state: string (nullable = true)
 |    |-- street: string (nullable = true)
 |-- age: long (nullable = true)
 |-- dob: string (nullable = true)
 |-- email: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- id: string (nullable = true)
 |-- last_name: string (nullable = true)

In [9]:
def cass_table(table_name):
    return (spark
        .read
        .format("org.apache.spark.sql.cassandra")
        .options(table = table_name, keyspace = "cc")
        .load())

In [10]:
cass_table("customer").show()

+------------+-------+---+----------------------+----------------------+----------+--------------------+----------+------+-------------+
|          id|address|age|amount_lower_threshold|amount_upper_threshold|       dob|               email|first_name|gender|    last_name|
+------------+-------+---+----------------------+----------------------+----------+--------------------+----------+------+-------------+
|800000002686|   null| 79|                  null|                  null|1939-03-15|clea.eckenbrecht@...|      Clea|     M|  Eckenbrecht|
|800000009014|   null| 22|                  null|                  null|1996-03-29|deondrick.manopin...| Deondrick|     F|  Manopinives|
|800000003508|   null| 33|                  null|                  null|1985-04-26|jchristophides@ms...|  Jazabell|     F|Christophides|
|800000009097|   null| 74|                  null|                  null|1944-05-26|kiptyn.chato@hotm...|    Kiptyn|     F|        Chato|
|800000003132|   null| 76|                  null|                  null|1942-06-25|dijohn.parette@ms...|    Dijohn|     M|      Parette|
|800000003917|   null| 76|                  null|                  null|1942-08-02|beunca.zwiebel@gm...|    Beunca|     M|      Zwiebel|
|800000008993|   null| 55|                  null|                  null|1963-03-29|tyanah.hudnall@ho...|    Tyanah|     F|      Hudnall|
|800000004685|   null| 89|                  null|                  null|1929-07-10| jgoddyn@hotmail.com|  Jaimarie|     F|       Goddyn|
|800000008134|   null| 20|                  null|                  null|1998-09-25| sdrutel@hotmail.com|     Solie|     F|       Drutel|
|800000003348|   null| 73|                  null|                  null|1945-05-11|   kbeddle@gmail.com|     Kavan|     M|       Beddle|
|800000002869|   null| 67|                  null|                  null|1950-12-10|ashaun.kolymbos@m...|    Ashaun|     F|     Kolymbos|
|800000008300|   null| 19|                  null|                  null|1999-07-31|thedstrm@hotmail.com|      Tova|     F|     Hedström|
|800000003180|   null| 56|                  null|                  null|1962-10-05| tboxall@hotmail.com|    Tanesa|     M|       Boxall|
|800000008074|   null| 73|                  null|                  null|1945-04-28|   mcuwalski@msn.com|    Mahlon|     F|     Cuwalski|
|800000008345|   null| 30|                  null|                  null|1987-12-11|aylani.ciamarra@h...|    Aylani|     F|     Ciamarra|
|800000000489|   null| 25|                  null|                  null|1993-09-26|  kalamgir@gmail.com|    Kelvan|     M|      Alamgir|
|800000003565|   null| 80|                  null|                  null|1938-08-26|gerome.hoepfner@h...|    Gerome|     F|     Hoepfner|
|800000002892|   null| 72|                  null|                  null|1946-01-10|yenna.wagley@hotm...|     Yenna|     F|       Wagley|
|800000005866|   null| 32|                  null|                  null|1985-12-15| lhuckabay@gmail.com|    Lethea|     F|     Huckabay|
|800000009275|   null| 54|                  null|                  null|1964-02-17|dacarri.dodan@hot...|   Dacarri|     M|        Dodan|
+------------+-------+---+----------------------+----------------------+----------+--------------------+----------+------+-------------+
only showing top 20 rows

In [11]:
merchants = spark.read.options(inferSchena = True).json(base_path + "merchants.json")
merchants.show()
merchants.printSchema()
(merchants
    .write
    .mode("overwrite")
    .format("org.apache.spark.sql.cassandra")
    .options(table = "merchant", keyspace = "cc")
    .save())

+------------+--------------------+
|          id|                name|
+------------+--------------------+
|DZ0000000000|iShares 7-10 Year...|
|DZ0000000001|National American...|
|DZ0000000002|Jensyn Acquistion...|
|DZ0000000003|     Interface, Inc.|
|DZ0000000004| FTD Companies, Inc.|
|DZ0000000005|NextDecade Corpor...|
|DZ0000000006|  MakeMyTrip Limited|
|DZ0000000007|Dynavax Technolog...|
|DZ0000000008|        HyreCar Inc.|
|DZ0000000009|Highland/iBoxx Se...|
|DZ0000000010|  Liberty Global plc|
|DZ0000000011|Green Plains Part...|
|DZ0000000012|  Vertex Energy, Inc|
|DZ0000000013|     Fuel Tech, Inc.|
|DZ0000000014|    TiVo Corporation|
|DZ0000000015|        Cerecor Inc.|
|DZ0000000016|    SMTC Corporation|
|DZ0000000017|Magellan Health, ...|
|DZ0000000018|      Check-Cap Ltd.|
|DZ0000000019|Village Bank and ...|
+------------+--------------------+
only showing top 20 rows

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)

In [12]:
(spark
    .read
    .format("org.apache.spark.sql.cassandra")
    .options(table = "merchant", keyspace = "cc")
    .load()).show()

+------------+-------+--------------------+------+
|          id|address|                name|ticker|
+------------+-------+--------------------+------+
|DZ0000000059|   null|Synergy Pharmaceu...|  null|
|DZ0000000046|   null|Northern Trust Co...|  null|
|DZ0000000020|   null|Gladstone Investm...|  null|
|DZ0000000093|   null|Golden Ocean Grou...|  null|
|DZ0000000008|   null|        HyreCar Inc.|  null|
|DZ0000000090|   null|Allegiance Bancsh...|  null|
|DZ0000000027|   null| iShares Asia 50 ETF|  null|
|DZ0000000019|   null|Village Bank and ...|  null|
|DZ0000000043|   null|       Popular, Inc.|  null|
|DZ0000000074|   null|1347 Property Ins...|  null|
|DZ0000000065|   null|Invesco Dividend ...|  null|
|DZ0000000025|   null|RXi Pharmaceutica...|  null|
|DZ0000000037|   null|Sierra Wireless, ...|  null|
|DZ0000000041|   null|  Cool Holdings Inc.|  null|
|DZ0000000054|   null|Willis Lease Fina...|  null|
|DZ0000000058|   null|Priority Technolo...|  null|
|DZ0000000038|   null|Mitcham Industrie...|  null|
|DZ0000000089|   null|  QCR Holdings, Inc.|  null|
|DZ0000000062|   null|        Xilinx, Inc.|  null|
|DZ0000000009|   null|Highland/iBoxx Se...|  null|
+------------+-------+--------------------+------+
only showing top 20 rows

In [13]:
transactions = (spark
                .read
                .options(inferSchena = True)
                .json(base_path + "transactions.json")
                .withColumn("timestamp", F.expr("from_unixtime(cast(timestamp/pow(10, 9) as bigint))"))
               )
transactions.show()
transactions.printSchema()

+------------------+--------+------------+------------+------------+-------------------+
|            amount|category| customer_id|          id| merchant_id|          timestamp|
+------------------+--------+------------+------------+------------+-------------------+
| 802.7103986581193|     atm|800000002081|690000000000|DZ0000000085|2018-08-31 16:45:00|
|507.74628999676526|     web|800000005031|690000000001|DZ0000000058|2018-07-16 01:53:31|
| 606.4194934089878|     pos|800000003872|690000000002|DZ0000000063|2018-05-17 14:57:21|
| 319.4347823556573|     web|800000004311|690000000003|DZ0000000065|2018-08-07 19:28:49|
| 6.499356159099801|  mobile|800000001603|690000000004|DZ0000000061|2018-07-05 13:25:49|
|1202.5906039488204|     web|800000008644|690000000005|DZ0000000045|2018-09-24 08:59:37|
| 334.1742337330727|  mobile|800000009101|690000000006|DZ0000000023|2018-05-27 18:44:58|
|1276.2935468125615|     atm|800000003658|690000000007|DZ0000000003|2018-08-18 22:33:10|
|1014.0822024764368|     pos|800000003095|690000000008|DZ0000000064|2018-05-24 11:06:38|
| 1361.068480696082|  mobile|800000008742|690000000009|DZ0000000024|2018-05-30 22:41:40|
|1148.2079577326738|  mobile|800000008958|690000000010|DZ0000000096|2018-05-05 17:19:35|
| 1289.624614829537|     atm|800000001963|690000000011|DZ0000000076|2018-08-02 00:33:29|
| 222.7393839391672|  mobile|800000003442|690000000012|DZ0000000038|2018-07-26 23:05:54|
|157.11972843897124|     pos|800000008979|690000000013|DZ0000000050|2018-08-21 04:45:36|
| 997.6210235932542|     web|800000002526|690000000014|DZ0000000085|2018-05-20 23:18:56|
|254.38889279371102|     web|800000003454|690000000015|DZ0000000054|2018-08-05 18:42:20|
| 595.7214665802746|     web|800000004784|690000000016|DZ0000000076|2018-09-24 15:07:33|
|1187.4798800157707|  mobile|800000005671|690000000017|DZ0000000061|2018-09-19 14:50:35|
| 576.0836502821041|     web|800000005306|690000000018|DZ0000000098|2018-08-02 06:13:15|
|1408.0770008718202|     atm|800000005365|690000000019|DZ0000000019|2018-06-02 03:20:39|
+------------------+--------+------------+------------+------------+-------------------+
only showing top 20 rows

root
 |-- amount: double (nullable = true)
 |-- category: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- id: string (nullable = true)
 |-- merchant_id: string (nullable = true)
 |-- timestamp: string (nullable = true)

In [14]:
(transactions
    .write
    .mode("overwrite")
    .format("org.apache.spark.sql.cassandra")
    .options(table = "transactions", keyspace = "cc")
    .save())

In [15]:
transactions = (spark
    .read
    .format("org.apache.spark.sql.cassandra")
    .options(table = "transactions", keyspace = "cc")
    .load())
transactions.limit(10).toPandas()

,customer_id,timestamp,id,amount,category,flag_ml,flag_threshold,location,location_id,merchant_id,overruled,overruled_comment,overruled_date,score
0,800000002686,2018-10-01 15:31:58,690000204866,2131.528888,web,None,None,None,None,DZ0000000022,None,None,None,None
1,800000002686,2018-09-28 09:00:29,690000628963,5158.127424,mobile,None,None,None,None,DZ0000000010,None,None,None,None
2,800000002686,2018-09-25 11:15:10,690000463846,2899.654655,mobile,None,None,None,None,DZ0000000003,None,None,None,None
3,800000002686,2018-09-25 00:54:22,690000257935,1753.912085,web,None,None,None,None,DZ0000000049,None,None,None,None
4,800000002686,2018-09-23 00:36:28,690000152367,1528.890501,pos,None,None,None,None,DZ0000000064,None,None,None,None
5,800000002686,2018-09-17 14:44:08,690000550928,3403.744026,web,None,None,None,None,DZ0000000094,None,None,None,None
6,800000002686,2018-09-16 15:56:52,690000176866,1851.144587,atm,None,None,None,None,DZ0000000083,None,None,None,None
7,800000002686,2018-09-16 15:00:32,690000922612,7191.043201,mobile,None,None,None,None,DZ0000000056,None,None,None,None
8,800000002686,2018-09-15 17:41:44,690000004149,980.288949,web,None,None,None,None,DZ0000000043,None,None,None,None
9,800000002686,2018-09-11 08:23:49,690000652705,4919.487656,web,None,None,None,None,DZ0000000083,None,None,None,None

In [16]:
agg = (transactions
    .groupBy("customer_id")
    .agg(F.avg("amount").alias("amount_avg"), F.stddev("amount").alias("amount_std"))
    .withColumn("amount_upper_threshold", F.expr("amount_avg + amount_std"))
    .withColumn("amount_lower_threshold", F.expr("amount_avg - amount_std"))
)

agg.show()

+------------+------------------+------------------+----------------------+----------------------+
| customer_id|        amount_avg|        amount_std|amount_upper_threshold|amount_lower_threshold|
+------------+------------------+------------------+----------------------+----------------------+
|800000003508|4000.8447911541843|2030.5769053432075|     6031.421696497392|    1970.2678858109768|
|800000002892|4015.4699165463403|1879.4048226518348|     5894.874739198175|    2136.0650938945055|
|800000006164|  4064.89169687135|1818.1123446674483|     5883.004041538798|     2246.779352203902|
|800000004876|4330.1780265902435|1915.2435772743434|     6245.421603864586|       2414.9344493159|
|800000003869|3424.0908568407763| 1755.596040364472|     5179.686897205248|    1668.4948164763043|
|800000004211|4046.3803344300945|1711.4403921994372|     5757.820726629532|    2334.9399422306574|
|800000004464| 4270.542190952598|2010.1792401752057|     6280.721431127803|     2260.362950777392|
|800000004098|4003.3536470509907|2000.1040938837384|     6003.457740934729|    2003.2495531672523|
|800000009189|3550.6984423498975|1869.7504492057158|     5420.448891555613|    1680.9479931441817|
|800000007511| 4120.659520250922|1988.7088349054143|     6109.368355156335|    2131.9506853455073|
|800000007791| 4083.125821957747|2020.9041914242346|     6104.030013381982|    2062.2216305335123|
|800000006972|4089.5271926096743|1767.8125731165621|     5857.339765726237|     2321.714619493112|
|800000005888| 4150.598529477467|1948.1137714556191|     6098.712300933086|    2202.4847580218484|
|800000009559|3947.6140114201517|2113.7733938219103|    6061.3874052420615|    1833.8406175982414|
|800000004305| 3803.861869891568|2012.1649097559832|     5816.026779647551|    1791.6969601355847|
|800000007503| 3959.693948521354|2020.6257739933476|     5980.319722514701|    1939.0681745280062|
|800000005442| 4070.063498435563|1845.8721265067757|     5915.935624942338|    2224.1913719287872|
|800000002664|4043.8792498959906|2073.0365821324635|     6116.915832028454|     1970.842667763527|
|800000006866| 4128.311534458804|1965.8643458573945|     6094.175880316198|      2162.44718860141|
|800000000568|3883.7409993924985|2007.1696753733509|      5890.91067476585|    1876.5713240191476|
+------------+------------------+------------------+----------------------+----------------------+
only showing top 20 rows

In [17]:
(agg
    .select("customer_id", "amount_upper_threshold", "amount_lower_threshold")
    .withColumnRenamed("customer_id", "id")
    .write
    .mode("append")
    .format("org.apache.spark.sql.cassandra")
    .options(table = "customer", keyspace = "cc")
    .save())

In [18]:
cass_table("customer").show()

+------------+-------+---+----------------------+----------------------+----------+--------------------+----------+------+-------------+
|          id|address|age|amount_lower_threshold|amount_upper_threshold|       dob|               email|first_name|gender|    last_name|
+------------+-------+---+----------------------+----------------------+----------+--------------------+----------+------+-------------+
|800000002686|   null| 79|    1873.6919950506053|     5750.826738407709|1939-03-15|clea.eckenbrecht@...|      Clea|     M|  Eckenbrecht|
|800000009014|   null| 22|    2036.0152859916593|     5845.483106360582|1996-03-29|deondrick.manopin...| Deondrick|     F|  Manopinives|
|800000003508|   null| 33|    1970.2678858109768|     6031.421696497392|1985-04-26|jchristophides@ms...|  Jazabell|     F|Christophides|
|800000009097|   null| 74|    1860.8318397319022|     5882.868594280499|1944-05-26|kiptyn.chato@hotm...|    Kiptyn|     F|        Chato|
|800000003132|   null| 76|    2023.0223670188468|     6052.967678561699|1942-06-25|dijohn.parette@ms...|    Dijohn|     M|      Parette|
|800000003917|   null| 76|     1875.634377457154|     5795.304678912224|1942-08-02|beunca.zwiebel@gm...|    Beunca|     M|      Zwiebel|
|800000008993|   null| 55|     1999.201093657428|     6028.398983898406|1963-03-29|tyanah.hudnall@ho...|    Tyanah|     F|      Hudnall|
|800000004685|   null| 89|    2131.9161732982784|     6111.050393765384|1929-07-10| jgoddyn@hotmail.com|  Jaimarie|     F|       Goddyn|
|800000008134|   null| 20|    1933.7876369805356|     5861.082308536266|1998-09-25| sdrutel@hotmail.com|     Solie|     F|       Drutel|
|800000003348|   null| 73|    2147.3209813886224|     6229.440293829015|1945-05-11|   kbeddle@gmail.com|     Kavan|     M|       Beddle|
|800000002869|   null| 67|    2392.9826902513546|     6017.979224551107|1950-12-10|ashaun.kolymbos@m...|    Ashaun|     F|     Kolymbos|
|800000008300|   null| 19|     2156.215479886143|     6011.149014560237|1999-07-31|thedstrm@hotmail.com|      Tova|     F|     Hedström|
|800000003180|   null| 56|    2067.9690306337525|     5907.207715732501|1962-10-05| tboxall@hotmail.com|    Tanesa|     M|       Boxall|
|800000008074|   null| 73|     2103.281039638836|     5822.083484392527|1945-04-28|   mcuwalski@msn.com|    Mahlon|     F|     Cuwalski|
|800000008345|   null| 30|    1672.6642605074392|     5399.260842662175|1987-12-11|aylani.ciamarra@h...|    Aylani|     F|     Ciamarra|
|800000000489|   null| 25|    2069.7915323791008|     5946.407282457036|1993-09-26|  kalamgir@gmail.com|    Kelvan|     M|      Alamgir|
|800000003565|   null| 80|    2230.4123441626293|     5976.986078401234|1938-08-26|gerome.hoepfner@h...|    Gerome|     F|     Hoepfner|
|800000002892|   null| 72|    2136.0650938945055|     5894.874739198175|1946-01-10|yenna.wagley@hotm...|     Yenna|     F|       Wagley|
|800000005866|   null| 32|    1980.9181616371284|     6043.410205156697|1985-12-15| lhuckabay@gmail.com|    Lethea|     F|     Huckabay|
|800000009275|   null| 54|    1682.5190589759486|    5784.1974432796205|1964-02-17|dacarri.dodan@hot...|   Dacarri|     M|        Dodan|
+------------+-------+---+----------------------+----------------------+----------+--------------------+----------+------+-------------+
only showing top 20 rows

In [22]:
from cassandra.cluster import Cluster

In [23]:
cluster = Cluster(["localhost"])
cass = cluster.connect("cc")
cass.execute("select amount_lower_threshold from customer where id = %s", ('800000009260',)).one()

Row(amount_lower_threshold=2406.1891696538737)

In [24]:


rdd = sc.parallelize(['800000009260', '800000001652', '800000005063'])

def detect_anomalies(tnx):
    cluster = Cluster(["localhost"])
    cass = cluster.connect("cc")
    result = []
    for r in tnx:
        rec = cass.execute("select id, amount_lower_threshold from customer where id = %s"
                           , (r,)).one()
        result.append((rec.id, rec.amount_lower_threshold))
    cass.shutdown()
    cluster.shutdown()
    return result

rdd.mapPartitions(detect_anomalies).collect()

[('800000009260', 2406.1891696538737),
 ('800000001652', 1999.5693000247313),
 ('800000005063', 2129.9385858059727)]